*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: lightgray;
  /* padding: 5rem; */
  /* border: 1rem solid red; */
  padding: 3rem 5rem;
  
 
  
}
main{
  background-color: white;
  margin: 50px auto;
  padding: 2rem;
  /* border: 1rem solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;


}
h1{
  color: gray;
  font-weight: lighter;
  text-align: center;
}
ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
li{
  margin: 2.5rem;
}
img{
 max-width: 100%;
 width: auto;
}

@media only screen and (max-width:700px) {
  ul{
    grid-template-columns: 1fr;
    

    /* padding: 3rem; */
    
    /* grid-template-rows: 1fr 1fr; */
  }
  main{
    min-width:300px;
    margin: 0;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    /* max-width: 800px; */
    /* width:200%; */
  }
  body{
    margin: 3rem 1rem;
    padding: 0;
    

  }
  
}

button{
  /* display: block; */
  /* margin: auto; */
  padding: 15px;
  font-size: 20px;
  width: 50%;
  min-width: 250px;
  background: transparent;
  max-width: 400px;


}
